.app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.app.appStart {
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 100px;
}

.true {
    color: green;
}

.false {
    color: red;
}

.normal {
    color: black
}